
.heading{
  margin-top: -8rem;
}

.bg-color{
    background-color: $bs-gradient;
}

.abouts{
    padding: 15rem 0;
}

.service{
    padding: 15rem 0;
}
#service{
    color: $bs-blue;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
}

