.ml-2{
    margin-left: .8rem;
}
.mr-2{
    margin-right: .8rem;
}
.mt-1{
    margin-top: 1rem;
}
.p5{
    padding: 5rem ;
}
.border-buttom{
    border-bottom: 1px solid black;
}

.mb-5{
    margin-bottom: 4.5rem;
}

.grid-2{
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    row-gap: 4rem;
}

.mt-3{
    margin-top: 5rem !important;
}

.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: .8rem;
    font-size: 2rem !important;
    font-weight: 800;
}

.mt-4 {
    margin-top: 7rem;
}

.center{
    text-align: center;
}

.wd-70{
    width: 60%;
    margin: 0 auto;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.font-2{
    font-size: 3rem !important;
}