.navbar{
  margin: 2rem;
  
  &__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    z-index: 4;
    

   
  }
  &__logo{
    font-size: 3rem;
    font-weight: 900;
  }
  &__content{
    @include respond(tab-port){
     position: fixed;
     width: 40%;
     height: 100%;
     background: $navbar-color;
     top: 0;
     text-align: center;
     right: -100%;
     transition: all .5s;
     display: block;
     }
   
   
  }
  &__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port){
      display: block;
      margin: 50px 0;
      line-height: 30px;
      text-align: center;
     }
  }

  &__list{
    list-style: none;
    font-size: 2rem;
    
    &:not(:last-child){
      margin-right: 8rem;
    }

    
  }
  &__link{
      &:link,
      &:visited{
        text-decoration: none;
        color: $white-color-2;
        text-transform: capitalize;
      }

      
  }

  &-logo{
    width: 2.8rem;
    height: 2.8rem;
    margin-right: .4rem;
}
}

.menu{
  display: none;

  @include respond(tab-port){
      display: block;
      background: white;
      padding: .8rem;
      border-radius: 50%;
  }
}

.show{
  right: 0;
}
#close{
  display: none;
  @include respond(tab-port){
      display: block;
  }

}
