.header{
    background-color: $navbar-color;
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    align-items: center;
    
    
    
    &__tip{
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      line-height: 1.2;
      box-shadow: 0 2rem 4rem rgba( #000000, 0.2);
      margin-bottom: 2rem;
      font-size: 1.6rem;
      background-color: $white-color;
      padding: 1rem 0;
      color: #1580E5;
      border-radius: .3rem;
      font-weight: 800;
      position: relative;

      &::after {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 5px 0px;
        border-color: rgb(255, 255, 255) transparent transparent;
      }

    }
    &__discription{
        width: 80%;
        font-size: 2rem;
        font-weight: 600;
      

        @include respond(phone){
            width: 100%;
            
        }
    }
    &__main{
        font-size: 8rem;
        font-weight: 400;
        margin-bottom: 3rem;
        
    }
    &__animate{
        position: relative;
        font-size: 4rem;
        color: $bs-green;
        text-transform: uppercase;

        &::before{
            content: 'I am a developer';
            width: 0;
            color: white;
            border-right: 1px solid white;
            overflow: hidden;
            animation: animate 6s infinite;
        }
    }

    &__sub{
        color: $white-color-2;
        margin-bottom: 2.5rem;
    }
    &__button{
        display: flex;
        margin: 5rem 0;

        @include respond(phone){
            display: block;
        }
    }
    &__links{
        display: flex;
        padding: 3rem 2rem 3rem;
        
    }
}

.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        padding: 2.5rem 4rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 800;
        border-radius: .8rem;
        cursor: pointer;
        letter-spacing: .5;

        @include respond(phone){
            width: 80%;
            display: block;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
    &-blue{
        background-color: $bs-blue;
        color: $white-color;
        margin-right: 1rem;
    }
    &-white{
        background-color: $white-color;
        color: #0779E4;
        margin-right: 1rem;
    }
}
.links{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        color: $white-color;
        margin-right: 2rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
    }
}