.service{
    &__head{
        font-size: 5rem;
        color: $bs-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6;
    }

    &__contact-me{
        font-size: 2.5rem;
        color: $bs-gray;
    }

    &__contact-me span{
        color: $bs-blue;
    }

    &__card{
        width: 70%;
        background-color: $bs-white;
        padding: 6rem;
        border-radius: .8rem;
        box-shadow: 0 2rem 4rem rgba($bs-gray-dark, .2);
        z-index: -10;

        &-head{
            font-size: 2.5rem;
            font-weight: 900;
            color: $bs-blue;
            margin-bottom: 3rem;
        }
    }
    &__icon-box{
        background-color: $bs-blue;
        width: 10rem;
        height: 7rem;
        position: relative;

        &::after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 10px 0px;
            border-color:$bs-blue transparent transparent;
        }
    }

    &__text{
        color: lighten($bs-gray, 20%);
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 3rem;
    }
    &__link{
        &,
        &:visited,
        &:link{
            color: $bs-blue;
            font-size: 2rem;
            text-decoration: none;
            font-weight: 700;
        }
    }
}


.blue__button{
    &,
    &:visited,
    &:link{
        border: 1px solid lighten($bs-blue, 10%);
        padding: 2rem 5rem;
        font-size: 1.7rem;
        text-decoration: none;
        color: lighten($bs-blue, 10%);
        cursor: pointer !important;
        transition: all .5s !important;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: .5rem;
       
    }

    &:hover{
        background-color: $bs-blue;
        color: $bs-white;
    }
}

